# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Notebook Checkpoints
**/.ipynb_checkpoints/

# Local Databases (optional)
*.db
*.sqlite
*.sqlite3
`